* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(110, 32, 121, 1) 100%);
}

main img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 40px;
    border: 10px solid rgba(110, 32, 121, 1);
}

main {
    position: relative;
    left: 490px;
    top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    height: auto;
    background-color: white;
    padding: 30px;
}

main .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 600;
}

.name {
    margin: 2px;
    text-align: center;
}

.songName {
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 600;
}

.musicPlayer {
    width: 100%;
    margin-bottom: 40px;
}

.musicPlayer input {
    width: 100%;
    accent-color: rgba(110, 32, 121, 1);
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.backward {
    background-color: rgba(110, 32, 121, 1);
    border-radius: 50%;
    padding: 20px;
    color: white;
}

.pause {
    background-color: rgba(110, 32, 121, 1);
    border-radius: 50%;
    padding: 20px;
    color: white;
}

.forward {
    background-color: rgba(110, 32, 121, 1);
    border-radius: 50%;
    padding: 20px;
    color: white;
}

#song {
    display: none;
}