@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Pacifico&family=Roboto:wght@100;300&family=Source+Code+Pro&family=Ysabeau+SC:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ysabeau SC', sans-serif;
    box-sizing: border-box;
    background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

.mainBody {
    height: auto;
}

.weather {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(to right, #0099f7, #f11712);
    width: 500px;
    height: 600px;
    margin: 50px auto;
    border-radius: 40px;
    padding: 30px;
}

.weatherImage img {
    width: 150px;
    height: 150px;
}

.weatherImage {
    display: flex;
    justify-content: center;
    margin-top: -30px;
}

.weatherTemp {
    margin-top: -40px;
    text-align: center;
    font-size: 40px;
}

.weatherCity {
    text-align: center;
    font-size: 50px;
    margin-top: -60px;
}

.humidityImg img {
    width: 50px;
    height: 50px;
}

.windImg img {
    height: 50px;
    width: 50px;
}

.moreDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search {
    width: 400px;
    display: flex;
    justify-content: center;
}

.search input {
    width: 400px;
    padding: 20px 30px;
    border-radius: 30px;
    border-color: transparent;
    margin-left: auto;
}

.searchButton {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 100px;
}

.searchButton i {
    margin-top: auto;
    font-size: xx-large;
}